<html>
  <head>
  <title>Flapper News</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
  <body ng-app="PVC">

  <nav class="navbar navbar-default" ng-controller="navCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a><span ng-click="logOut()">Log Out</span></a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      <li ng-show="isLoggedIn()"><a href="/#/wines">Wines</a></li>
      <li ng-show="isLoggedIn()"><a href="/#/home">Home</a></li>
    </ul>
  </nav>
  	<div>
  		<ui-view>
      </ui-view>
  	</div>

  <script type="text/ng-template" id="/profile.html">
    <div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"> Profile Page : {{user.local.displayName}}</h1></span>
        
        <span class="btn btn-default btn-sm" ng-click="logout()" >Logout</span>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <div ng-show="user.local.email">
                    <p>
                        <strong>id</strong>: {{ user._id }}<br>
                        <strong>email</strong>: {{ user.local.email }}<br>
                    </p>
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                    </div>
                    <div ng-hide="user.local.email">
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                    </div>
            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                    <!-- check if the user has this token (is the user authenticated with this social account) -->

                    <div ng-show="user.facebook.token">
                    <p>
                        <strong>id</strong>: {{ user.facebook.id }}<br>
                        <strong>email</strong>: {{ user.facebook.email }}<br>
                        <strong>name</strong>: {{ user.facebook.name }}
                    </p>
                    <a href="/unlink/facebook" class="btn btn-default">Unlink</a>
                    </div>
                    <div ng-hide="user.facebook.token">
                    <a href="/connect/facebook" class="btn btn-default">Connect Facebook</a>
                    </div>             
            </div>
        </div>
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                    <!-- check if the user has this token (is the user authenticated with this social account) -->
                <div ng-show="user.google.token">
                    <p>
                        <strong>id</strong>: {{ user.google.id }}<br>
                        <strong>email</strong>: {{ user.google.email }}<br>
                        <strong>name</strong>: {{ user.google.name }}
                    </p>
                    <a href="/unlink/google" class="btn btn-default">Unlink</a>
                    </div>
                    <div ng-hide="user.google.token">
                    <a href="/connect/google" class="btn btn-default">Connect Facebook</a>
                    </div>    
            </div>
        </div>
    </div>
      </div>
  </script>

<script type="text/ng-template" id="/register.html">
  <div class="col-md-4">
  <h1>Login</h2>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="register()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="registerForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="registerForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
      </div>
  </form>

  </div>
</script>

<script type="text/ng-template" id="/login.html">
  <div class="col-md-4">
  <h1>Login</h2>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
      </div>
  </form>

  </div>
</script>


    <script type="text/ng-template" id="/home.html">
    <div style="margin-left:30px">
      <h2>Welcome to the Main Page, {{user}}</h2>
      <a href="/auth">Auth Page</a>
      <h3>Select which workspace to enter</h3>
    		<div ng-repeat="workspace in workspaces">
         <a href="#/wines"> {{ workspace.data.label }} </a>
        </div>

        <div ng-hide="isEmpty()">
        workspaces is empty, it may be pending
        </div>
        </div>
    </script>

  <script type="text/ng-template" id="/todos.html">
    <div style="margin-left:20px;"
    <span style="margin-top:30px;"><h2>To Dos!</h2></span>
    <h3>This is a list of only incomplete ToDos</h3>
    If something is missing, it may already be compelted and that is not visible form this screen
    <br><br>


        <div ng-repeat="todo in todos">
          Please Complete: {{ todo.name }} ---- 
            <span ng-click="completeToDo(todo._id)">
            <a href="/#/todos">Complete!</a></span>
          <div style='margin-left:20px'> Summary: {{todo.summary}}<div>
            <div ng-repeat="wine in todo.wines">
            <a href="#/wines/{{wine}}">Wine: {{wine}}</a>
            </div>
        </div>

    </div>  
    </script>

    <script type="text/ng-template" id="/wines.html">
      <div class="page-header" style="margin-left:30px">
       <h2> List of {{ winesLength }} <a href="#/wines">Wines</a> in the PVC database </h2>
      </div>

      <div style="margin-left:20px">
         <form
          style="margin-top:30px;">
          <h3>Search for a Wine</h3>

          <div class="form-group">
            <input type="text"
            class="form-control"
            placeholder="Search"
            ng-model="search"></input>
          </div>
          <a href="#/search/{{search}}">
          <button type="submit" class="btn btn-primary">Search</button>
          </a>
        </form>
      </div>


    	<div style="margin-left:20px;">
    		<div ng-repeat="wine in wines">
         <span style="font-size:20px; margin-left:10px;">
    			Wine: {{ wine.vintage }} {{ wine.name}}<span ng-show="wine.varietal">, {{ wine.varietal }} : </span>
            <a href="#/wines/{{wine._id}}">Details</a>
          </span>
    		</div>
    	</div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <div>
        <form ng-submit="addWine()"
          style="margin-top:30px; margin-left:20px; width:500px;">
          <h3>Add a new Wine</h3>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text"
              class="form-control"
              plceholder="Name"
              ng-model="name"></input>
          </div>
          <div class="form-group">
             <label for="varietal">Varietal:</label>
              <input type="text"
              class="form-control"
              plceholder="Varietal"
              ng-model="varietal"></input>
          </div>
          
          <div class="form-group">
              <label for="vintage">Vintage:</label>
             <input type="text"
              class="form-control"
              style="display:inline;"
              plceholder="Vintage"
              ng-model="vintage">  </input>
          </div>
          
          <button type="submit" class="btn btn-primary">Add Wine</button>
        </form>
      </div>
    </script>

    <script type="text/ng-template" id="/workspaces.html">
    	<div ng-show="workspaces">
    		<div ng-repeat="workspace in workspaces">
    			This is a {{ workspace }} type of wine
    		</div>
    	</div>

      <div ng-hide="isEmpty()">
        workspaces is empty, it may be pending
      </div>
    </script>



    <script type="text/ng-template" id="/wine.html">
    <div style="margin-left:20px"
      <div class="page-header">
        <h3>
          {{ wine.name }}
        </h3>


<h2> Comments </h2> 
    <span ng-show="commentsVisible" ng-click="hideComments()">HIDE</span>
    <span ng-hide="commentsVisible" ng-click="showComments()">SHOW</span>
<table class="table table-condensed" ng-show="commentsVisible">
  <tr>
    <th>Comment</th>
    <th>Author</th>
    <th>Date</th>
  </tr>
  <tr ng-repeat="comment in wine.comments">
    <td>{{comment.body}}</td>
    <td>{{comment.author}}</td>
    <td>{{comment.dateCreated | date : 'MM-dd-yyyy'}}</td>
  </tr>
</table>

        <form ng-submit="addComment()"
          style="margin-top:30px;">
          <h3>Add a new comment</h3>

          <div class="form-group">
            <input type="text"
            class="form-control"
            placeholder="Comment"
            ng-model="body"></input>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>


<h2>TODOs for the Wine</h2>
<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Due Date</th>
    <th>Assignee</th>
    <th>Complete</th>
    <th>Email</th>
  </tr>
<tr ng-repeat="todo in wine.todos" ng-hide="todo.complete">
  <td>{{todo.name}}</td>
  <td>{{todo.dateDue | date : 'MM-dd-yyyy'}}</td>
  <td>    <span ng-show="todo.asana_assignee.name">{{todo.asana_assignee.name}}</span>
         <button ng-hide="todo.asana_assignee || canEdit(todo._id)" ng-click="wantToAssign(todo._id)">Assign</button>
           
            <span ng-show="canEdit(todo._id) && !todo.asana_assignee">

<form name="assignForm" class="form-inline" ng-submit="assignToDo(todo._id, choice)">
    <select name="assignSelect" id="assignSelect" ng-model="choice" style="form-control">
          <option ng-repeat="user in users" value="{{user.asanaId}}" >{{user.asanaId}}</option>
    </select>
  <button type="submit" class="btn btn-default">Assign</button>
</form>
  
            </span>
            </td>
  <td><button class="btn btn-info" ng-click="completeToDo(todo._id)">Complete</button></td>
  <td><button class="btn btn-info" ng-click="sendMail(todo)">Email</button></td>
</tr>

</table>

        <form ng-submit="addToDo()"
          style="margin-top:30px;">
          <h3>Add a new ToDo</h3>

          <div class="form-group">
            <input type="text"
            class="form-control"
            placeholder="To Do Name"
            ng-model="name"></input>
          </div>
          <div class="form-group">
            <input type="text"
            class="form-control"
            placeholder="To Do Summary"
            ng-model="summary"></input>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </div>
  </script>

  </body>
</html>
